.auth-container {
    height: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,76,121,1) 35%, rgba(0,212,255,1) 100%);
    align-self: center;
    display: flex;
}
.auth-row{
    flex: 1;
}

.auth-form-button{
    width: 100%;
}

.card-image{
    height: 200px;   
}